#main{ margin: 0px; padding: 0px; font-family: 'Lucida Grande', sans-serif; font-size: large;}
#main #top{ width: 100%; height: 25%; background-color: azure; }
#main #top #title{ padding: 50px; font-size: xx-large; font-family: "AR JULIAN"; }
#main #left{ width: 20%; height: 75%; background-color: beige; float: left; }
#main #right{ width: 80%; height: 75%; float: left; background-color: antiquewhite; padding: 0px;}
a:link, a:visited {
    background-color: aquamarine;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: aqua;
}